
#overlay {
    /* stretch the overlay by attaching all four corners */
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    /* use any background color you like; rgba would be nice, but older IE will ignore it*/
    background: #000;
    
    opacity: 0.8;
    filter: alpha(opacity=80);
    z-index:9999;
}
#loading {
    width: 150px;
    height: 150px;
    position: absolute;
    top: 30%;
    left: 45%;
    /* the image is 50x57, so we use negative margins of 1/2 that size to center it*/
    margin: -28px 0 0 -25px; 
    z-index:9999;
}

#errorDiv{
	position: absolute;
	width: 450px;

    z-index:9999;
}

/*
	This CSS file, which was automatically created by Wakanda, allows you to share CSS styles for all the widgets on the Pages in your project.
	The CSS styles that are created when you create a Widget Skin are placed in this file too.
*/

/* @theme:waf-project-BSinBorde="default inherited" */
.waf-button.waf-project-BSinBorde {
	border-top-style: none;
	border-left-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-top-width: 0px;
	border-left-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;

	}
.bot{
	cursor: pointer;
}

.bot:hover{
	color : aqua;
}
.bot.icon{
	-webkit-filter: brightness(10%);
}
.bot.icon:hover{
	  -webkit-filter: brightness(0%);

}
.bot.icon:click{
	  -webkit-filter: brightness(10%);
	shadow: 0px 2px 1px white inset, 0px -2px 8px white, 0px 2px 5px rgba(0, 0, 0, 0.1), 0px 8px 10px rgba(0, 0, 0, 0.1);

}

/* Enlaces */

.bar-btn{
	color:white;
	cursor: pointer;
/*	text-shadow : #FFFFFF;*/
font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
font-size: 13px;
	text-indent:17px;
	background-position:left center;
	vertical-align:text-bottom;
	-webkit-filter: brightness(20%);

}


.bar-btn:hover{
	color :orange;
		-webkit-filter: brightness(0%);
}

.bar-btn:click{
	color :red;
		-webkit-filter: brightness(0%);
}

/*Foto Usuario*/
.foto_usuario img{
	
 border: 5px solid #ccc; 
 float: left; 
 margin: 5px; 
 -webkit-transition: margin 0.1s ease-out; 
 -moz-transition: margin 0.1s ease-out; 
 -o-transition: margin 0.1s ease-out;  
 
 }
 .foto_usuario img:hover{
 	 margin-top: 2px; 
 	 }
 	
 	
/* @theme:waf-project-enlaceTexto="default inherited" */
.waf-richText.waf-project-enlaceTexto {
	background-image: url(undefined);
text-shadow: rgb(255, 255, 255) 0px -1px 0px;
	background-repeat: repeat;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 12px;
	font-weight: bold;
	border-top-width: 0px;
	border-left-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	}
	
/*ANIMACIÓN*/
	.opciones{
  -webkit-filter: brightness(-15%);
  -webkit-transition: all 1s ease;
     -moz-transition: all  1s ease;
       -o-transition: all  1s ease;
      -ms-transition: all  1s ease;
          transition: all  1s ease;
}
	
	.opciones img:hover {
		 -webkit-filter: brightness(100%);
	}


/*QUITO EL BORDE DE LOS BOTONES*/

.btn.big{
border:none;
font-size:20px; 
display: inline-block;
font-weight: bold;
text-align: center;
letter-spacing: .05em;
text-decoration: none;
padding: .7em 0;
}


/*BOTONES DEL TPV*/
 @import url(http://netdna.bootstrapcdn.com/font-awesome/2.0/css/font-awesome.css);
/*.tpv-btn {*/
/*cursor: pointer;*/
/*background: #ECECEC;*/
/*		border-radius: 15px;*/
/*		padding: 10px 20px;*/
/*		display: block;*/
/*		font-family: arial;*/
/*		font-weight: bold;*/
/*		color:#7f7f7f;*/
/*		text-decoration: none;*/
/*		text-shadow:0px 1px 0px #fff;*/
/*		border:1px solid #a7a7a7;*/
/*		width: 145px;*/
/*		margin:0px auto;*/
/*		margin-top:100px;*/
/*		box-shadow: 0px 2px 1px white inset, 0px -2px 8px white, 0px 2px 5px rgba(0, 0, 0, 0.1), 0px 8px 10px rgba(0, 0, 0, 0.1);*/
/*		-webkit-transition:box-shadow 0.5s;*/
/*  	-webkit-filter: brightness(0%);*/
/*}*/
/*.tpv-btn:hover {*/
/*  color: #14396A;*/
/*  background: #468CCF;*/
/*  background: linear-gradient(top,  #468CCF,  #63B8EE);*/
/*  background: -ms-linear-gradient(top,  #468CCF,  #63B8EE);*/
/*  background: -webkit-gradient(linear, left top, left bottom, from(#468CCF), to(#63B8EE));*/
/*  background: -moz-linear-gradient(top,  #468CCF,  #63B8EE);*/
/*  -webkit-filter: brightness(10%);*/
/*}*/


/*.tpv-btn:click{*/
/*	color :red;*/
/*		-webkit-filter: brightness(0%);*/

/*}*/

.lat-btn{
	padding: 3px 15px;
	color:black;
	cursor: pointer;
	text-shadow : #FFFFFF;
	text-indent:28px;
	background-position:left center;
	vertical-align:text-bottom;
	-webkit-filter: brightness(0%);
	visiabiltiy:hidden;
}


.lat-btn:hover{
	color :orange;
	-webkit-filter: brightness(0%);
  background-color: #0088cc;
}

.lat-btn:click{
	color :red;
	-webkit-filter: brightness(0%);
}



.formback{
	background: #fee4fd; /* Old browsers */

/* IE9 SVG, needs conditional override of 'filter' to 'none' */

background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZlZTRmZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmYWQ0ZmEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);

background: -moz-linear-gradient(top,  #fee4fd 0%, #fad4fa 100%); /* FF3.6+ */

background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fee4fd), color-stop(100%,#fad4fa)); /* Chrome,Safari4+ */

background: -webkit-linear-gradient(top,  #fee4fd 0%,#fad4fa 100%); /* Chrome10+,Safari5.1+ */

background: -o-linear-gradient(top,  #fee4fd 0%,#fad4fa 100%); /* Opera 11.10+ */

background: -ms-linear-gradient(top,  #fee4fd 0%,#fad4fa 100%); /* IE10+ */

background: linear-gradient(to bottom,  #fee4fd 0%,#fad4fa 100%); /* W3C */

filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fee4fd', endColorstr='#fad4fa',GradientType=0 ); /* IE6-8 */


}


/*ALERTS*/

#popup_container {
	font-family: Arial, sans-serif;
	font-size: 12px;
	min-width: 300px; /* Dialog will be no smaller than this */
	max-width: 600px; /* Dialog will wrap after this width */
	background: #FFF;
	border: solid 5px #999;
	color: #000;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

#popup_title {
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	line-height: 1.75em;
	color: #666;
	background: #CCC url(/images/title.gif) top repeat-x;
	border: solid 1px #FFF;
	border-bottom: solid 1px #999;
	cursor: default;
	padding: 0em;
	margin: 0em;
}

#popup_content {
	background: 16px 16px no-repeat url(/images/info.gif);
	padding: 1em 1.75em;
	margin: 0em;
}

#popup_content.alert {
	background-image: url(/images/info.gif);
}

#popup_content.confirm {
	background-image: url(/images/important.gif);
}

#popup_content.prompt {
	background-image: url(/images/help.gif);
}

#popup_message {
	padding-left: 48px;
}

#popup_panel {
	text-align: center;
	margin: 1em 0em 0em 1em;
}

#popup_prompt {
	margin: .5em 0em;
}




/* @theme:waf-project-bnaranja="default inherited" */
.waf-richText.waf-project-bnaranja {
	border-top-width: 0px;
	border-left-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	font-weight: bold;
	text-shadow: rgb(229, 229, 229) 0px 0px 0px;
	}
input.entrada{
	 width: 265px;
	 height: 47px;
	 top: 73px;
	 left: 87px;
	
	 font-size: 32px;
	 letter-spacing: 3px;
	 line-height: 40px;
	 text-shadow: rgba(255, 255, 255, 0) 0px 0px 0px;
	 text-align: right;
	 font-weight: bold;
	 margin-left:20px;
	 margin-top:10px;
}

input.entrada.left{
	
	 text-align: left;
	
}

input.entrada.left.form{
	
width:auto;	
}

.form-inline{
	 margin-left:10px;
}
label.control-label
{
	margin-left:20px;
}

//Botones del TPV
.product {
position: relative;
vertical-align: top;
display: inline-block;

margin: 5px !important;


-webkit-box-shadow: 0px 2px 0px #dad8e4, 0px 1px 8px #636480;
-moz-box-shadow: 0px 2px 0px #dad8e4, 0px 1px 8px #636480;
box-shadow: 0px 2px 0px #dad8e4, 0px 1px 8px #636480;
}
.product .price-tag {
position: absolute;
top: 2px;
right: 2px;
vertical-align: top;
line-height: 13px;
padding: 2px 5px;
border-radius: 3px;
box-shadow: 0px 1px 0px #9A9CC5, 0px 3px 0px #7E86AC, 0px 3px 3px rgba(12, 14, 68, 0.67);
/*-webkit-transform: rotate(-45deg); */
/*-moz-transform: rotate(-45deg);	*/
background-color:#dd4814;

box-shadow: 0px 1px 20px #5E5E5E;
}





ul.dropdown
{
  padding-left: 8px;
  padding-right: 8px;
  -webkit-box-shadow: inset 1px 0 0 rgba(255,255,255,.125), inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
  -moz-box-shadow: inset 1px 0 0 rgba(255,255,255,.125), inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
  box-shadow: inset 1px 0 0 rgba(255,255,255,.125), inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
  *padding-top: 5px;
  *padding-bottom: 5px;
  background-color:white;
  list-style:outside;
}





a.tool{

width: auto;
height: 28px;
/*margin-bottom: 3px;*/
/*padding-right:10px;*/
line-height:28px;
/*background-color:black;*/
/*padding: 2px 5px;	*/

}

a.tool:hover{
background-color:#dd4814; /*Naranja del tema*/
text-decoration:none;
color:white;

}


/* @theme:waf-project-inputbig="default inherited" */
.waf-textField.waf-project-inputbig {
	font-size: 18px;
	text-shadow: rgb(204, 204, 204) 0px 0px 0px;
	}
	


.centered{
    position: absolute;
    top: 50%;
    left: 50%;
    /* the image is 50x57, so we use negative margins of 1/2 that size to center it*/
    margin: -28px 0 0 -25px; 
    }.waf-theme.softGray .waf-richText.waf-role-linkMenu {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	box-shadow: rgba(255, 255, 255, 0) 0px 0px 0px 0px;
	-moz-box-shadow: rgba(255, 255, 255, 0) 0px 0px 0px 0px;
	-webkit-box-shadow: rgba(255, 255, 255, 0) 0px 0px 0px 0px;
		box-shadow: rgba(255, 255, 255, 0) 0px 0px 0px 0px;
	border-top-style: none;
	border-left-style: none;
	border-right-style: none;
	border-bottom-style: none;
	text-shadow: rgb(255, 255, 255) 0px 0px 0px;
	background-image: url(undefined);
	border-top-width: 0px;
	border-left-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	background-repeat: no-repeat;
		font-size: 12px;
	font-weight: bold;
}


.matrix_reduce{
	max-width:390px;
}


.marcaagua{
-webkit-transform: rotate(-45deg); 
-moz-transform: rotate(-45deg);	
background-color:#dd4814;
padding:15px 35px 37px 35px;
box-shadow: 0px 1px 20px #5E5E5E;

}


.tablaHTML{
	
	color:black;
}